* {
  margin: 0;
  padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: auto;
	background: url(kklogo.png) center no-repeat;
	background-size: 500px;
	background-position: 50% 50%;
	background-color: #d4c7cc;
}

.wrapper {
  padding-top: 10px;
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.menu {	
}

.menu ul {
  margin-left: 0;
  list-style: none;
  text-align: center;
}

.menu ul li {
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu ul li a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  background-color: grey;
  width: 100px;
}

.menu ul li a:hover {
  background-color: white;
  color: #d4c7cc;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 50px;
	background-color: grey;
}

/*.log1 {
	width: 100%;
	height: 90%;
	margin: auto;
	background: url(kklogo.png) center no-repeat;
	background-size: 500px;
	background-position: 50% 50%;
	background-color: black;
}